@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

.tektur-default {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

@import "tailwindcss";

.container {
    padding: 0 100px;
}

@media (max-width: 500px) {
    .container {
        padding: 0 20px;
    }
}

body {
    background-color: black;
    font-family: Tektur, sans-serif;
}

.hero {
    background-image: url('./assets/images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 86vh;
}

@media (max-width: 500px) {
    .hero {
        height: 30vh;
    }
    .course{
        padding: 30px 0;
    }
}

.course {
    background-image: url('./assets/images/course-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}